@charset "UTF-8";

@media screen and (max-width: 768px){
    /* Definçaõ da pagina*/
    h1{
        padding-top: 10px;
        font-size: 33px;
        font-weight: 600;
    }

    h2{
        font-size: 26px;
        font-weight: 500;
    }

    p{
        font-size: 16px;
    }
    /* Pagina Home*/
    .perfil{
        flex-direction: column;
        margin-bottom: 30px;
    }

    .ft-perfil > img{
        width: 180px;
        height: 180px;
    }
    .descri{
        width: 370px;
    }

    .descri > p{
        margin-top: 5px;
        padding: 8px;
    }

    .cards-des{
        flex-direction: column;
    }

    .des {

        height: 130px;
        margin: 10px auto;
    }
    /* Pagina Home*/
}